<div class="super">
    <div class="pageNav">
        <h2>CONTROL</h2>
    </div>
    <ul class="tabs">
        <li><a onclick="tourl('control')"><span>Leads</span></a></li>
        <li><a onclick="tourl('control/agents')"><span>Agents</span></a></li>
        <li class="active"><a onclick="tourl('control/organisation')"><span>Organisation</span></a></li>
    </ul>
</div>