<div class="module__header">
  <div class="module__header-title">Control</div>
  <div class="module__header-right">
    <div class="module__notifications">
      <button type="button" class="btn-plain module__notifications-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path></svg>
        <span class="module__notifications-count">13</span>
      </button>
    </div>
  </div>
</div>

<div class="module__nav">
  <a class="module__nav-item module__nav-item--active" onclick="tourl('control')" data-tooltip aria-label="Home">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
    <span>Leads</span>
  </a>
  <a class="module__nav-item" onclick="tourl('control/agents')">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
    <span>Agents</span>
  </a>
  <a class="module__nav-item" onclick="tourl('control/organisation')">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
    <span>Organisation</span>
  </a>

  <a class="module__nav-item module__nav-item--right" onclick="tourl('control/organisation')">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-life-buoy"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="4"></circle><line x1="4.93" y1="4.93" x2="9.17" y2="9.17"></line><line x1="14.83" y1="14.83" x2="19.07" y2="19.07"></line><line x1="14.83" y1="9.17" x2="19.07" y2="4.93"></line><line x1="14.83" y1="9.17" x2="18.36" y2="5.64"></line><line x1="4.93" y1="19.07" x2="9.17" y2="14.83"></line></svg>
    <span>Help</span>
  </a>
</div>

<div class="module__content module__content--padded">
  <!--div class="module-state">
    <span class="module-state__title">:(</span>
    <span class="module-state__description">Sorry, there are no leads available.</span>
  </div-->
        
  <div class="actionbar">
    <div class="actionbar__left">
      <form class="actionbar__search js-search" action="javascript:void()" role="search">
        <div class="actionbar__search-wrapper">
          <input type="search" placeholder="Search leads" autocomplete="off" data-type="control-search-input" onkeyup="changefilters()">
          
          <div class="actionbar__search-buttons">
            <button class="btn-plain actionbar__search-filter-btn" type="button" data-type="filter-toggle-button" aria-owns="filter-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </button>
            
            <button class="btn-plain actionbar__search-search-btn" type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </button>
          </div>
        </div>
        
        <div class="filter-wrapper" id="filter-wrapper">
          <div class="filter__section menu-wrapper">
            <span class="filter__label">Field type</span>
            
            <input name="types" value="" type="hidden">
            
            <button type="button" class="btn-plain" data-type="menu-toggle-button" aria-owns="types-menu">
              <span>Any type</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </button>
            
            <ul class="menu menu--select" id="types-menu">
              <li>
                <a class="menu-option menu-option--selected" data-value="">Any type</a>
              </li>
              
              <li>
                <a class="menu-option" data-value="name">Name</a>
              </li>
              
              <li>
                <a class="menu-option" data-value="email">Email</a>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    
    <div class="actionbar__buttons actionbar__buttons--hidden js-actionbar-buttons">
      <div class="menu-wrapper">
        <a href="#" class="btn" data-type="menu-toggle-button" aria-owns="menu-assignstatus">
          <span class="btn__text">Change status</span>
          <span class="btn__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
          </span>
        </a>
        
        <ul id="menu-assignstatus" class="menu"></ul>
      </div>
      
      <div class="menu-wrapper">
        <a href="#" class="btn" data-type="menu-toggle-button" aria-owns="menu-assignagent"> 
          <span class="btn__text">Set to agent</span>
          <span class="btn__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
          </span>
        </a>
        
        <ul id="menu-assignagent" class="menu"></ul>
      </div>
    </div>
    
    <div class="actionbar__pagination">
      <div class="actionbar__pagination-number">
        <span>1 of 1</span>
      </div>
      
      <a class="btn btn--disabled actionbar__pagination-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
      </a>
      
      <a class="btn actionbar__pagination-forward">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
      </a>
    </div>
  </div>
  
  <div class="table-list js-control-list">
    <div class="table-list__wrapper">
      <div class="table-list__header">
        <span class="table-list__header-item table-list-icon">
          <label class="control control--checkbox" title="Select all items">
            <input type="checkbox" data-type="checkbox-toggle-button" data-check-type="all">
            <div class="control__indicator"></div>
          </label>
        </span>
        <span class="table-list__header-item table-list-name">Name</span>
        <span class="table-list__header-item table-list-country">Country</span>
        <span class="table-list__header-item table-list-email">Email</span>
        <span class="table-list__header-item table-list-status">Status</span>
        <span class="table-list__header-item table-list-agent">Agent</span>
      </div>
      
      <ol class="table-list__body js-list-body">
        <li class="table-list__item u-hidden js-list-item">
          <div class="table-list__item-wrapper" role="row">
            <div class="table-list-icon"></div>
            <div class="table-list-name"></div>
            <div class="table-list-country"></div>
            <div class="table-list-email"></div>
            <div class="table-list-status"></div>
            <div class="table-list-agent"></div>
            <div class="table-list-actions">
              <!--<button class="btn table-list-context-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
              </button>-->
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
  
  <div class="module-state module-state--control u-hidden">
    <span class="module-state__title">:(</span>
    <span class="module-state__description">Oops, there are no leads to show.</span>
  </div>

  <div class="actionbar actionbar--footer">
    <div class="actionbar__left"></div>
    <div class="actionbar__buttons js-actionbar-buttons">
      <div class="menu-wrapper">
        <a href="#" class="btn" data-type="menu-toggle-button" aria-owns="menu-resultspage"> 
          <span class="btn__text" data-resultspage="">x</span>
          <span class="btn__icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
          </span>
        </a>
        
        <ul id="menu-resultspage" class="menu"></ul>
      </div>
      
    </div>
    
    <div class="actionbar__pagination">
      <div class="actionbar__pagination-number">
        <span>1 of 1</span>
      </div>
      
      <a class="btn btn--disabled actionbar__pagination-back">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
      </a>
      
      <a class="btn actionbar__pagination-forward">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
      </a>
    </div>
  </div>
</div>

<script>

var searchWrapper = document.body.querySelector('.js-search');
var filterWrapper = document.getElementById('filter-wrapper');
var filterBtn = document.body.querySelector('[data-type="filter-toggle-button"]');
var typesInput = filterWrapper.querySelector('input[name="types"]');
var typesMenuOptions = filterWrapper.querySelectorAll('#types-menu [data-value]');

console.log(typesMenuOptions)

// TODO(@iegor): We should move this to global context
// to create multiple popups easily.
function popupBodyListener(evt) {
  var target = evt.target || evt.srcElement;
  
  if (target === searchWrapper) {
    hidePopup();
    return;
  }
  
  while (true) {
    target = target.parentNode;
    if (!target || target === document.body) {
      hidePopup();
      return;
    } else if (target === searchWrapper) {
      return;
    }
  }
}

function hidePopup() {
  filterWrapper.classList.remove('is-visible');
  document.body.removeEventListener('mousedown', popupBodyListener);
}

filterBtn.addEventListener('click', function(evt) {
  evt.preventDefault();
  
  filterWrapper.classList.add('is-visible');
  
  if (filterWrapper.classList.contains('is-visible')) {
    document.body.addEventListener('mousedown', popupBodyListener);
  }
});

var control_listAgents = [];
var menuresultspageArray = {'5':'Show 5 leads per page','10':'Show 10 leads per page','20':'Show 20 leads per page','50':'Show 50 leads per page','150':'Show 150 leads per page','500':'Show 500 leads per page'};

var var_resultspage = 5;//number default results
var var_page = 1; //actual page
var var_totalpages=1;//total pages

  document.querySelector('[aria-owns="menu-resultspage"] span').setAttribute('data-resultspage',var_resultspage);
  document.querySelector('[aria-owns="menu-resultspage"] span').innerHTML=menuresultspageArray[var_resultspage];
    
    var x = document.getElementById("menu-resultspage");
    var cuentalas = x.querySelectorAll('li');
        
        for (var i = 0; i < cuentalas.length; i++) { 
          cuentalas[i].remove();
        }

    for (var i in menuresultspageArray) {
      var option = document.createElement("li");
      var button = document.createElement("button");
      
      button.setAttribute('class', 'menu-option');
      button.setAttribute('data-type', 'resultspage');
      button.setAttribute('data-resultspage-type', i);
      button.innerText = menuresultspageArray[i];
      
      button.addEventListener('click', changeresultspage.bind(null, i));            
        
      option.appendChild(button);
      x.appendChild(option);
    }
    

    
    var x = document.getElementById("menu-assignstatus");
    var cuentalas = x.querySelectorAll('li');
        
        for (var i = 0; i < cuentalas.length; i++) { 
          cuentalas[i].remove();
        }

    for (var i in core_liststatus) {
      var option = document.createElement("li");
      var button = document.createElement("button");
      
      button.setAttribute('class', 'menu-option');
      button.setAttribute('data-type', 'assignstatus');
      button.setAttribute('data-status-type', i);
      button.innerText = core_liststatus[i];
      
      button.addEventListener('click', changeopselsetchanges.bind(null, 'changestatus', i));            
        
      option.appendChild(button);
      x.appendChild(option);
    }
    
socket_emit('control_getAgents');

socket_on('control_changeleadsOK',function(agentsList)
{
    socket_emit('control_getAgents');
});
    
socket_on('control_getAgentsRESP',function(agentsList)
{


    var x = document.getElementById("menu-assignagent");
    var cuentalas = x.querySelectorAll('li');
        
        for (var i = 0; i < cuentalas.length; i++) { 
          cuentalas[i].remove();
        }

    for (var i = 0; i < agentsList.length; i++){
      control_listAgents[agentsList[i]._id] = agentsList[i].name+' '+agentsList[i].lastname+' ('+agentsList[i].type+')';
      var option = document.createElement("li");
      var button = document.createElement("button");
      
      button.setAttribute('class', 'menu-option');
      button.setAttribute('data-type', 'assignagent');
      button.setAttribute('data-agent-id', agentsList[i]._id);
      button.innerText = agentsList[i].name+' '+agentsList[i].lastname+' ('+agentsList[i].total_leads+' New leads assigned)';

      button.addEventListener('click', changeopselsetchanges.bind(null, 'setagent', agentsList[i]._id));

      option.appendChild(button);
      x.appendChild(option);
    }


    getnewleads();
});

socket_on('control_getLeadsRESP',function(leadslist,leadslist_total)
{
    
  var table = document.querySelector('.js-control-list');
  var tableBody = table.querySelector('.js-list-body');
  var tableItems = tableBody.querySelectorAll('.js-list-item:not(.u-hidden)');
  
  tableItems.forEach(function (item) {
    item.remove();
  });
  
    if (leadslist_total == 0) {
      document.querySelector('.module-state--control').classList.remove('u-hidden');
    } else {
      document.querySelector('.module-state--control').classList.add('u-hidden');
      
      var_totalpages = Math.ceil(leadslist_total/var_resultspage);
      console.log('totalpages',var_totalpages);
      document.querySelectorAll('.actionbar__pagination-number').forEach(function (itempa) {
          itempa.querySelector('span').innerHTML = var_page+' of '+var_totalpages;
      });

document.querySelectorAll('.actionbar__pagination-back').forEach(function (itempa) {
    if(var_page == 1)
    itempa.classList.add('btn--disabled');
    else
    itempa.classList.remove('btn--disabled');
    
    itempa.onclick=function(){changepage('back');}
});
document.querySelectorAll('.actionbar__pagination-forward').forEach(function (itempa) {
    if(var_page >= var_totalpages)
    itempa.classList.add('btn--disabled');
    else
    itempa.classList.remove('btn--disabled');
    
    itempa.onclick=function(){changepage('forward');}
});


  
  for (var i = 0; i < leadslist.length; i++) {
    var tableItem = tableBody.querySelector('.js-list-item').cloneNode(true);
    tableItem.querySelector('.table-list-name').innerText = leadslist[i].name + ' ' + leadslist[i].lastname;
    tableItem.querySelector('.table-list-country').innerHTML = '<img src="/images/flags/' + leadslist[i].country + '.png"/> ' + leadslist[i].country;
    tableItem.querySelector('.table-list-email').innerText = leadslist[i].email;
    tableItem.querySelector('.table-list-status').innerText = core_liststatus[leadslist[i].status];
    tableItem.querySelector('.table-list-agent').innerText = control_listAgents[leadslist[i].agent_id];

    tableItem.setAttribute('data-id', leadslist[i]._id);
    tableItem.classList.remove('u-hidden');
    
    tableBody.appendChild(tableItem);
  }
  
  addfunctionstocheckboxs();
}});
 

function addfunctionstocheckboxs()
{
  var table = document.querySelector('.js-control-list');
  var tableBody = table.querySelector('.js-list-body');
  var tableItems = tableBody.querySelectorAll('.js-list-item:not(.u-hidden)');
  
  var checkbox = table.querySelector('[data-type="checkbox-toggle-button"]');
  checkbox.addEventListener('click', function(evt) {
    tableItems.forEach(function(item) {
      if (checkbox.checked) {
        item.classList.add('table-list__item--selected');
      } else {
        item.classList.remove('table-list__item--selected');
      }
    });
    
    controlhaveleadselec();
  });

  var lastTableItemClicked = null;
  tableItems.forEach(function(item) {
    item.addEventListener('click', function(evt) {
      item.classList.toggle('table-list__item--selected');
      
      // Multiple table items selection     
      if (evt.shiftKey && lastTableItemClicked !== null) {
        var current = lastTableItemClicked;
        var previous = !current.nextSibling ? true : false;
        while (true) {
          current = previous ? current.previousSibling : current.nextSibling;
          
          if (!current) {
            return;
          }
          
          if (current !== item) {
            current.classList.add('table-list__item--selected');
          } else {
            return;
          }
        }
      }
      
      if (item.classList.contains('table-list__item--selected')) {
        lastTableItemClicked = item;
      }
      
      controlhaveleadselec();
    });
  });
}

function controlhaveleadselec()
{
  var table = document.querySelector('.js-control-list');
  var tableBody = table.querySelector('.js-list-body');
  var tableItems = tableBody.querySelectorAll('.js-list-item.table-list__item--selected');
  var actionbarActions = document.querySelector('.js-actionbar-buttons');  

  if (tableItems.length === 0) {
    actionbarActions.classList.add('actionbar__buttons--hidden');
    
    return 'no';
  }
  
  actionbarActions.classList.remove('actionbar__buttons--hidden');
  
  return 'yes';
}

function changeopselsetchanges(type, value) {
  var table = document.querySelector('.js-control-list');
  var tableBody = table.querySelector('.js-list-body');
  
  if(controlhaveleadselec() == 'yes'){
    var arrayidleadscheck = [];
    
    var tableItems = tableBody.querySelectorAll('.js-list-item.table-list__item--selected');
    tableItems.forEach(function(item) {
      item.classList.remove('table-list__item--selected');
      arrayidleadscheck.push(item.getAttribute('data-id'));
    });
    
    socket_emit('control_changeleads', type, arrayidleadscheck, value);
    
    resetcheckboxes();
    controlhaveleadselec();
  }
  
}

function resetcheckboxes() {
  var table = document.querySelector('.js-control-list');
  var checkbox = table.querySelector('[data-type="checkbox-toggle-button"]');
  checkbox.checked = false;
}

function getnewleads(){
console.log('getnewleads');
socket_emit('control_getLeads',
    {
    var_resultspage:var_resultspage,
    var_page:var_page,
    control_filter_name:document.querySelector('[data-type="control-search-input"]').value,
    control_filter_email:''
    });
}
function changepage(optio){
if(optio == 'back')
var_page--;
else
var_page++;
console.log('changepage',optio,' var_page',var_page);

if(var_page < 1)var_page=1;
else if(var_page > var_totalpages)var_page=var_totalpages;

getnewleads();
}
function changeresultspage(value){
    
value= Math.round(value);

    console.log('changeresultspage',value);
  var_resultspage = value;
  document.querySelector('[aria-owns="menu-resultspage"] span').setAttribute('data-resultspage',value);
  document.querySelector('[aria-owns="menu-resultspage"] span').innerHTML=menuresultspageArray[value];
  
var_page=1;

getnewleads();
}
function changefilters(){
  var actionbarActions = document.querySelector('.js-actionbar-buttons');  
    actionbarActions.classList.add('actionbar__buttons--hidden');
var_page=1;
resetcheckboxes();
getnewleads();

}
</script>

<style>
  .module-state--control {
    padding: 3rem 0;
  }
</style>
