<div class="module__header">
  <div class="module__header-title">Control</div>
</div>

<div class="module__nav">
  <a class="module__nav-item" onclick="tourl('control')">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
    <span>Leads</span>
  </a>
  <a class="module__nav-item module__nav-item--active" onclick="tourl('control/agents')">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
    <span>Agents</span>
  </a>
  <a class="module__nav-item" onclick="tourl('control/organisation')">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layout"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="3" y1="9" x2="21" y2="9"></line><line x1="9" y1="21" x2="9" y2="9"></line></svg>
    <span>Organisation</span>
  </a>
</div>

<div class="module__content module__content--padded">
   <div class="tablewithresults">
  
  <div class="table-list js-control-list">
    <div class="table-list__wrapper">
      <div class="table-list__header">
        <span class="table-list__header-item table-list-icon">
        </span>
        <span class="table-list__header-item table-list-name">Name</span>
        <span class="table-list__header-item table-list-country">Country</span>
        <span class="table-list__header-item table-list-email">Email</span>
        <span class="table-list__header-item table-list-status">Type</span>
      </div>
      
      <ol class="table-list__body js-list-body">
        <li class="table-list__item u-hidden js-list-item">
          <div class="table-list__item-wrapper" role="row">
            <div class="table-list-icon"></div>
            <div class="table-list-name"></div>
            <div class="table-list-country"></div>
            <div class="table-list-email"></div>
            <div class="table-list-status"></div>
            <div class="table-list-actions">
              <button class="btn table-list-context-menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
              </button>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>

  </div>
  
  <div class="module-state module-state--control invisible">
    <span class="module-state__title">:(</span>
    <span class="module-state__description">Oops, there are no more leads to show.</span>
  </div>
</div>

<script>


var control_listAgents = [];

    
socket_emit('control_getAgents');

    
socket_on('control_getAgentsRESP',function(agentsList)
{


console.log(agentsList);

    
  var table = document.querySelector('.js-control-list');
  var tableBody = table.querySelector('.js-list-body');
  var tableItems = tableBody.querySelectorAll('.js-list-item:not(.u-hidden)');
  
  tableItems.forEach(function (item) {
    item.remove();
  });
  
    if(agentsList.length==0){
    document.querySelector('.tablewithresults').classList.add('invisible');
    document.querySelector('.module-state--control').classList.remove('invisible');
    }else{
    document.querySelector('.tablewithresults').classList.remove('invisible');
    document.querySelector('.module-state--control').classList.add('invisible');


  
  for (var i = 0; i < agentsList.length; i++) {
    var tableItem = tableBody.querySelector('.js-list-item').cloneNode(true);
    tableItem.querySelector('.table-list-name').innerText = agentsList[i].name + ' ' + agentsList[i].lastname;
    tableItem.querySelector('.table-list-country').innerHTML = '<img src="/images/flags/' + agentsList[i].country + '.png"/> ' + agentsList[i].country;
    tableItem.querySelector('.table-list-email').innerText = agentsList[i].email;
        tableItem.querySelector('.table-list-status').innerText = agentsList[i].type;

    tableItem.setAttribute('data-id', agentsList[i]._id);
    tableItem.classList.remove('u-hidden');
    
    tableBody.appendChild(tableItem);
  }
  }
  


});

</script>

<style>
  .module-state--control {
    padding: 3rem 0;
  }
</style>
