<div class="module__header">
  <div class="module__header-title"></div>

</div>

<div class="module__nav">
  <a class="module__nav-item module__nav-item--active" href="javascript:tourl('profile');">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
    <span>Overview</span>
  </a>
    <div class="module__clock"> </div>
</div>

<div class="module__content">

<div class="super">
    <div class="flex-commission">COMMISSION</div>
    <div class="home flex-stats columns">
        <div class="home__header">
            Stats
        </div>
        <div class="stats__"></div>
        <div class="stats__"></div>
        <div class="stats__"></div>
    </div>
    
    <div class="flex-main columns">
        
        <div class="home main__ regions">
            <div class="home__header">
                Regions
            </div>
        </div>
        <div class="home main__ graphs">
            <div class="home__header">
                Graphs
            </div>
        </div>
    </div>

</div>

<script>
console.log(global_datauser)

document.querySelector('.module__header-title').innerHTML = "Welcome "+global_datauser.name

function updateClock() {
    var now = new Date(), // current date
        months = ['January', 'February', 'March', 'April', 'May',
         'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        time = now.getHours() + ':' + now.getMinutes(),
        date = [now.getDate(), 
                months[now.getMonth()],
                now.getFullYear()].join(' ');
    var clockEl = document.querySelector('.module__clock');
    if (clockEl){
      clockEl.innerHTML = [date, time].join(' | ');
    }
    setTimeout(updateClock, 1000);
}
updateClock();

</script>