<div class="module__header">
  <div class="module__header-title">Profile</div>
</div>

<div class="module__nav">
  <a class="module__nav-item module__nav-item--active" href="javascript:tourl('profile');">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    <span>Account</span>
  </a>
  <a class="module__nav-item" href="javascript:tourl('profile/settings');">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
    <span>Settings</span>
  </a>
  <div class="module__clock"> </div>
</div>

<div class="module__content">

<div class="super">
<div></div>
    <div class="profile __card columns">
        <div class="profilePicture columns">
            <span><figure class="changeThis" style="background-image: url('https://scontent.xx.fbcdn.net/v/t1.0-1/c59.0.200.200/p200x200/10354686_10150004552801856_220367501106153455_n.jpg?oh=ac418906c448f4e3b7b1e62912699246&oe=5B371325');"></span>
        </div>

        <div class="profileName">
        </div>

        <div class="profileUpload">
       <label for="file-upload" class="custom-file-upload">
            Upload Image
        </label>
        <input id="file-upload" type="file"/>
        </div>
        
        <div class="profileUnderline">
        </div>
        
        <div class="profileChange">
        <ul>
            <li option_id="1" class="active">
                personal details
            </li>
            <li option_id="2">
                change password
            </li>
        </ul>
        </div>
    </div>
    
    <div class="profile __info  columns">
        <div class="changeHeader">
        <h3>Personal Details</h3> <div><button class="btn personalSave">Save</button></div>
        </div>
        <div option_id="1" class="change personal rows">
            <label for="">First Name</label>
            <input type="text" />
            
            <label for="">Last Name</label>
            <input type="text" />
            
            <label for="">Email</label>
            <input type="email" />
            
            <label for="">Phone</label>
            <input type="phone" />
            
            <label for="">Date of Birth</label>
            <input placeholder="Date" class="textbox-n" type="text" onfocus="(this.type='date')" type="date" />
            
            <label for="">ID Number</label>
            <input class="noselect" type="text" readonly disabled/>
        </div>
         
        <div option_id="2" class="change password rows invisible">
            <label for="">Current Password</label>
            <input id="current__pw" type="password" />
            
            <label for="">New Password</label>
            <input id="new__pw" type="password" />
            
            <label for="">Repeat New Password</label>
            <input id="repeat__pw" type="password" />
        </div>
    </div>
</div>

    

</div>
<script>
console.log(global_datauser)

document.querySelector('.profileName').innerHTML = global_datauser.name + " "+ global_datauser.lastname

var personal_type = document.querySelector('.profileChange')
var personal_options = personal_type.querySelectorAll('li')
var append = document.querySelector('.changeHeader')
var profile_data = [global_datauser.name, global_datauser.lastname, 
global_datauser.email, global_datauser.phone, "01/01/1987", global_datauser._id]
var change_personal = document.querySelector('.change.personal')
var change_password = document.querySelector('.change.password')

personal_options.forEach( e => {
    e.addEventListener('click', function(){
        personal_options.forEach(del => {
            del.classList.remove('active')
        })
        e.classList.add('active')
        if (e.classList.contains('active') && e.getAttribute('option_id') == 1){
            document.querySelector('.change.password').classList.add('invisible')
            document.querySelector('.change.personal').classList.remove('invisible')
            append.querySelector('h3').innerHTML = "Personal Details"
        }
        else if (e.classList.contains('active') && e.getAttribute('option_id') == 2){
            document.querySelector('.change.password').classList.remove('invisible')
            document.querySelector('.change.personal').classList.add('invisible')
            append.querySelector('h3').innerHTML = "Change Password"
        }
    })
})
    
change_personal.querySelectorAll('input').forEach( (placeholder, i) => {
    //console.log(placeholder)
    placeholder.setAttribute("placeholder", profile_data[i])
    placeholder.setAttribute("value", profile_data[i])
})

document.querySelector('#file-upload').onchange = function (evt) {
    var tgt = evt.target || window.event.srcElement,
        files = tgt.files;
    if (FileReader && files && files.length) {
        var fr = new FileReader();
        fr.onload = function () {
            document.querySelectorAll('.changeThis').forEach( set => {
                set.setAttribute("style", "background-image: url(" +fr.result + ");")
                global_datauser.image = fr.result
                console.log(global_datauser)
            })
        }
        fr.readAsDataURL(files[0]);
    }
    else {
        // fallback 
        //temporarily store image on the server until user refresh.
    }
    
}


document.querySelector('.personalSave').addEventListener('click', function() {
    personal_options.forEach( e => {
            if (e.classList.contains('active') && e.getAttribute('option_id') == 1){
                
            console.log('personalSave');
                change_personal.querySelectorAll('input').forEach( (data, i) => {
                    switch (i){
                        case 0:
                            global_datauser.name = data.value
                            break;
                        case 1:
                            global_datauser.lastname = data.value
                            break;
                        case 2:
                            global_datauser.email = data.value
                            break;
                        case 3:
                            global_datauser.phone = data.value
                            break;
                        case 4:
                            global_datauser.birth = data.value
                            break;
                        case 5:
                            console.log(global_datauser)
                            false
                            break;
                    }
            })
            
    socket_emit('profile_updateClient',global_datauser.name,global_datauser.lastname,global_datauser.email,global_datauser.phone,global_datauser.birth)
            }
            
            else if (e.classList.contains('active') && e.getAttribute('option_id') == 2){
              var switcher = false;
              var check_password = ""
              change_password.querySelectorAll('input').forEach( (pw, i) => {
                switch(i){
                        case 0: 
                             if (global_datauser.pass == pw.value){
                                console.log("current password matches!")
                                switcher = true
                            }
                            else { 
                                alert("Current password incorrect.")
                            }
                            break;
                        case 1:
                            if (switcher){
                                check_password = pw.value
                                console.log("checking new password")
                            }
                            else {
                                switcher = false
                            }
                            break;
                        case 2:
                            if (switcher){
                                if (check_password == pw.value){
                                    console.log("repeat passwords match!")
                                    console.log("New password: ", pw.value)
                                    global_datauser.pass = pw.value
                                    console.log(global_datauser)
                                }
                                else {
                                    alert("Repeat passwords do not match.")
                                }

                            }
                            else {
                                switcher = false
                            }
                            break;
                            
                    }
                })
              }
     })
    })

document.querySelector('.module__header-title').innerHTML = "Welcome "+global_datauser.name




/*
function init() {
    socket_emit('profile_getAgent');
    socket_on('profile_getAgentRESP', function(agentData) {
    // assign data to boxes here:
    // see <script> in profile.html 
    // agentData: {
    //    name:
    //    lastname:
    //    phone:
    //    country:
    //    language:
    //    email:
    //    pass:
    //    type:
    //}
    })
}

function saveChanges() {
    // update rows should be of the format: 
    // [
    //    ['name', 'udpated0Name'],
    //    ['phone', 'updatedPhone']
    // ]
    // You only need to include the fields that have been edited.
    var updateRows = [
        ['name', 'updatedName'],
        ['phone', 'updatedPhone']
    ]
    socket_emit('profile_updateAgent', updateRows);
}*/




</script>