<div class="module__header">
  <div class="module__header-title">Profile</div>
</div>

<div class="module__nav">
  <a class="module__nav-item" href="javascript:tourl('profile');">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
    <span>Account</span>
  </a>
  <a class="module__nav-item module__nav-item--active" href="javascript:tourl('profile/settings');">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
    <span>Settings</span>
  </a>
    <div class="module__clock"> </div>
</div>

<div class="module__content">

<div class="super">

    <div class="profile __card column">
        <div class="profileChange">
            <ul>
                <li option_id="1" class="active">
                    Notifications
                </li>
                <li option_id="2">
                    Color & Theme
                </li>
                
                <li option_id="3">
                    Language & Time
                </li>
            </ul>
        </div>
    </div>

    <div class="profile __info column">
        <div class="changeHeader">
            <h3>App Settings</h3> <div><button class="btn personalSave">Save</button></div>
        </div>
        
        <div option_id="1" class="settings noti rows">
        <label class="columns" for="">Email Notifications</label>
            <label class="switch">
                <input parent-id="master" type="checkbox" class="invisible">
                <span class="slider round"></span>
            </label>
            
            <div class="email columns">
                <div class="e__header">Leads Emails</div>
                <label class="columns" for="">New leads</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead reminders</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead missed calls</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead payments</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            </div>
            
            <div class="email columns">
                <div class="e__header">Targets Emails</div>
                <label class="columns" for="">New leads</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead reminders</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead missed calls</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead payments</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            </div>
            
            <div class="email columns">
                <div class="e__header">Targets Emails</div>
                <label class="columns" for="">New leads</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead reminders</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead missed calls</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead payments</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            </div>
            
            <div class="email columns">
                <div class="e__header">Other Emails</div>
                <label class="columns" for="">New leads</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead reminders</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead missed calls</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            
                <label class="columns" for="">Lead payments</label>
                <label class="switch">
                    <input type="checkbox" class="invisible">
                    <span class="slider round"></span>
                </label>
            
            </div>
        </div>
        
                <div option_id="2" class="settings lang rows invisible">
                time and lang
        </div>
        
                <div option_id="3" class="settings theme rows invisible">
                color and theme
        </div>
    </div>
</div>

    

</div>
<script>
console.log(global_datauser)

var personal_type = document.querySelector('.profileChange')
var personal_options = personal_type.querySelectorAll('li')
personal_options.forEach( e => {
    e.addEventListener('click', function(){
        personal_options.forEach(del => {
            del.classList.remove('active')
        })
        e.classList.add('active')
        if (e.classList.contains('active') && e.getAttribute('option_id') == 1){
            document.querySelector('.settings.lang').classList.add('invisible')
            document.querySelector('.settings.theme').classList.add('invisible')
            document.querySelector('.settings.noti').classList.remove('invisible')
            append.querySelector('h3').innerHTML = "Personal Details"
        }
        else if (e.classList.contains('active') && e.getAttribute('option_id') == 2){
            document.querySelector('.settings.lang').classList.add('invisible')
            document.querySelector('.settings.theme').classList.remove('invisible')
            document.querySelector('.settings.noti').classList.add('invisible')
            append.querySelector('h3').innerHTML = "Change Password"
        }
        
        else if (e.classList.contains('active') && e.getAttribute('option_id') == 3){
            document.querySelector('.settings.lang').classList.remove('invisible')
            document.querySelector('.settings.theme').classList.add('invisible')
            document.querySelector('.settings.noti').classList.add('invisible')
            append.querySelector('h3').innerHTML = "Change Password"
        }
    })
})

var noti_select = document.querySelector('.settings.noti')
noti_select.querySelector('input:first-of-type').addEventListener('change', function(){
    if (this.checked){
        console.log("WHY HELLO THERE")
        noti_select.querySelectorAll('input').forEach ( off => {
            if (off.getAttribute('parent-id') == "master") {
                              console.log("skipping email button")
            }
            else {
              off.disabled = false
            }

        })
    }
    else if (!this.checked){
        noti_select.querySelectorAll('input').forEach ( off => {
            if (off.getAttribute('parent-id') == "master") {
                console.log("skipping email button")
            }
            else {
                off.checked = false;
                off.disabled = true
            }
        })
    }
})

document.querySelector('.module__header-title').innerHTML = "Welcome "+global_datauser.name

function updateClock() {
    var now = new Date(), // current date
        months = ['January', 'February', 'March', 'April', 'May',
         'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        time = now.getHours() + ':' + now.getMinutes(),
        date = [now.getDate(), 
                months[now.getMonth()],
                now.getFullYear()].join(' ');
    document.querySelector('.module__clock').innerHTML = [date, time].join(' | ');
    setTimeout(updateClock, 1000);
}
updateClock();

</script>