<div class="module__header">
  <div class="module__header-title">Sales</div>
</div>

<div class="module__nav">
  <a class="module__nav-item module__nav-item--active" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3" y2="6"></line><line x1="3" y1="12" x2="3" y2="12"></line><line x1="3" y1="18" x2="3" y2="18"></line></svg>
    <span>Leads</span>
  </a>
  <a class="module__nav-item" href="/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
    <span>Activity</span>
  </a>
</div>

<div class="module__content">
  <div class="sales-grid">
    <div class="lead-list-container">
      <div class="lead-list-search"></div>
      <div class="lead-list-header"></div>
      <div class="lead-list-body"></div>
    </div>
    <div class="lead-panel-container">
      <div class="lead-panel-header">
        <div class="lead-panel-header-name">
          <span>Test Lead</span>
        </div>
        <div class="lead-panel-header-actions">
          <span>action</span>
          <span>action</span>
        </div>
      </div>
      <div class="lead-panel-nav">
        <span>Details</span>
        <span>Notes</span>
        <span>History</span>
      </div>
      <div class="lead-panel-body"></div>
    </div>
  </div>
</div>

<!--<script src="/components/d3.js" charset="utf-8"></script>-->
<script src="/modules/js/sales.js" charset="utf-8"></script>
