<div class="super">
    <div class="pageNav">
        <h2>VOIP</h2>
    </div>
    
    <div>
    ---test call noclickmarc<br /> 
    </div><br />
    <div style="display:block">
    <input type="text" id="teltocall" value="34682288834" style="height: 20px;"/>
    </div> 
    <div>
    <a href="javascript:void(0)" onclick="callphone(document.getElementById('teltocall').value)"><h2>CALL TEST</h2></a>
    </div> 
    
</div>