.super .flex-alphabet{
    flex-basis:98%;
    height:60px;
    background: #3A7FAD;
    margin:1%;
}

.super .flex-filter{
    flex-basis: 13%;
    margin:1%;
    background: #3A7FAD;
    height:700px;

}

.super .flex-contactList{
    flex-basis:83%;
    margin:1%;
    background: #3A7FAD;
    height:700px;
}
