.super-control .flex-leadControl{
    flex-basis:98%;
    margin:1%;
    height:300px;
    background: linear-gradient(#28587A, #28587A, #28587A, #3A7FAD);
}

.super-control .flex-leadList{
    flex-basis:97%;
    margin:1%;
    border: solid #28587A .3em;
}

.super-control .flex-leadList .tableleads{
  width:100%;
  margin:4px;
  font-family:Arial;
}

.super-control .flex-leadList .tableleads th{
  width:auto;
  border-top:2px solid #1B73BF;
  color:#1B73BF;
  padding:4px;
  text-align:left;
}

.super-control .flex-leadList .tableleads tr:nth-child(odd) {
  height:30px;
  line-height: 30px;
}

.super-control .flex-leadList .tableleads tr:nth-child(even) {
  height:30px;
  line-height: 30px;
  background:#F6F6F6
}

.super-control .flex-leadList .tableleads tr:hover {
  opacity:0.8;
}

.super-control .flex-leadList .tableleads tr.tractivo:nth-child(even) {
  background:#E5E9EC
}

.super-control .flex-leadList .tableleads tr.tractivo {
  background:#ECF0F2
}

.super-control .flex-leadList .tableleads td{
  width:auto;
}
