.home {
      margin:16px;
      display:flex;
      background-color: transparent;
        border:solid var(--brand-color) 2px;
}

.columns{
    display:flex;
    flex-direction:column;
}

.rows{
    display:flex;
    flex-direction:rows;
}

.home .home__header{
    width:100%;
    min-height:30px;
    max-height:30px;
    border-bottom: 1px solid var(--brand-color);
    text-align:center;
    background-color:white;
    display:flex;
    justify-content:center;
}


.module__content .super .flex-stats{
  flex-basis:22.4%;
  flex-direction:column;
  height:600px;
  background-color:blue;    
}

.module__content .super .flex-stats .stats__{
    flex:1;
    width:100%;
    background-color:white;
    border-top:solid var(--brand-color) 1px;
    border-bottom:solid var(--brand-color) 1px;
}

.module__content .super .flex-main{
  flex-basis:72.4%;
  height:850px; 
  border-color:transparent;   
}

.module__content .super .flex-main .main__{
  flex:1;
}