/*PROFILE*/
/*----------------------------------*/

.profile {
      margin:16px;
      background-color: var(--white-color);
        border:solid var(--brand-color) 2px;
}

.columns{
    display:flex;
    flex-direction:column;
}

.rows{
    display:flex;
    flex-direction:rows;
}

/* WILL ORGANISE MY CLASS BETTER SIMILAR TO MARC CLASSES */

.super .__card{
    flex-basis:17%;
    margin:.9%;
    border:solid var(--brand-color) 2px;

    height:500px;
    align-content:center;
    background-color:white;
}
.super .__card .profilePicture {
   height:150px;
    justify-content:center;
}

.super .__card .profilePicture figure{
    border-radius:100px;
    width:110px;
    height:110px;
    border:solid #3A7FAD .2em;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    display:block;
    margin:auto;
}

.super .__card .profileName{
    flex-basis:10%;
    display:flex;
    justify-content:center;
    padding-top:5%;
    text-transform:uppercase;
    font-weight:bold;
    letter-spacing: .07em;
    line-height:1.5em;
}

.super .__card .profileUpload{
    flex-basis:10%;
    display:flex;
    justify-content:center;
}

.super .__card .profileUpload label{
    font-size: var(--font-size-2);
    padding: 10px 16px;
    margin: 5px;
    line-height: 10px;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    color: var(--brand-color);
    background-color: var(--white-color);
    border: 1px solid var(--brand-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    vertical-align: top;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
        line-height: 20px;
}

.super .__card .profileUpload label:hover{
        background: var(--brand-color);
        color: var(--white-color);
}

.super .__card .profileUpload input[type="file"] {
    display: none;
}

.super .__card .profileUnderline {
    flex-basis:.4%;
    border-radius:5px;
    margin-left:4%;
    margin-right:4%;
    margin-top:1.5em;
    background-color: #454d5d;
}

.super .__card .profileUnderline span{
    height:100%;
    width:90%;

}

.super .__card .profileChange {
    text-transform:uppercase;
    color: #454d5d;
    flex-basis:15%;

        margin-top:3em;
}

.super .__card .profileChange ul {
    width:100%;
    height:100%;
}

.super .__card .profileChange ul li{
    width:90%;
    display:block;
    margin:auto;
    text-align:center;
    font-size: 1.2em;
    padding: .2em 0;
    border-bottom: solid transparent 2px;
    transition: border-bottom .1s ease-in-out;
    cursor:pointer;
}

.super .__card .profileChange ul li.active{
    border-bottom: solid #3A7FAD 2px;
}

.super .__card .profileChange ul li:not(:first-of-type){
    
    margin-top:30px;
}

.super .__info{
    flex-basis:78%;
    height:500px;
    background-color:white;
}

.super .__info .changeHeader {
    text-transform:uppercase;
    font-size:1.4em;
    font-weight:bold;
    line-height:3em;
    width:100%;
    display:block;
}

.super .__info .changeHeader h3{
    margin-left:5%;
    display:inline-flex;
    float:left;
    min-width:400px;
    max-width:400px;

}

.super .__info .changeHeader div{
    flex-basis:15%;
    text-align:left;
}


.super .__info .changeHeader div button{
    color: var(--brand-color);
    background: var(--white-color);
    border-color: var(--brand-color);
    display:inline-flex;
    float:right;
    margin-right:5%;
    margin-top:20px;
}

.super .__info .changeHeader div button:hover{
        background: var(--brand-color);
        color: var(--white-color);
}

.super .__info .change{
    flex-basis:90%;
    width:100%;
    flex-wrap: wrap;
    space-between:none;
    max-height:300px;
    margin-top:35px;
}

.super .__info .change label{
    display:flex;
    justify-content:left;
    margin-left:5%;    
    flex-basis:40%;
        max-height:20px;
}

.super .__info input {
    max-height:20px;
    flex-basis:40%;
    border: none;
            outline:none;
    border-bottom: solid #454d5d .1em;
    transition: all .1s ease-in-out
}
.super .__info .noselect{
    cursor: not-allowed;
}

.super .__info input:focus{
        border-bottom: solid #3A7FAD .1em;
}

.super .__info .change-password {
    flex-basis:50%;
    width:100%;
}

.super .__info .settings{
    flex-basis:90%;
    width:100%;
    flex-wrap: wrap;
    space-between:none;
    max-height:300px;
    margin-top:35px;
    background-color:blue;
}

.super .__info .settings .email {
    background-color:green;
}

.super .__info .settings label:first-of-type{
    display:flex;
    justify-content:left;
    margin-left:5%;    
    flex-basis:25%;
    max-height:40px;
    justify-content:center;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}