/* LAYOUT */
.sales-grid {
    display: flex;
    flex-flow: row nowrap;
}

.lead-list-container {
    flex: 1 0 40%;
    display: flex;
    flex-flow: column nowrap;
}

.lead-panel-container {
    flex: 1 0 50%;
    display: flex;
    flex-flow: column nowrap;
}

.lead-list-search {
    flex: 0 0 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.lead-list-header {
    flex: 0 0 80px;
}

.lead-list-body {
    flex: 1 0 50%;
}

.lead-panel-header {
    flex: 0 0 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.lead-panel-header-name {
    flex: 2 0 60%;
}

.lead-panel-header-actions {
    flex: 1 0 120px;
}

.lead-panel-nav {
    flex: 0 0 80px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.lead-panel-body {
    flex: 1 0 50%;
}