.super {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:#454d5d;
}

.flex-commission{
  display: block;
  width: 98rem;
  height: 120px;
  margin: 1rem;
  background: #e6e6e6;
}

.invisible{
    display: none !important;
}

.webphone{
    position:fixed;
    z-index:9999;
    right:0;
    bottom:0;
    width:220px;
    height:380px;
}

.webphoneheader {
    height:20px;
    color:#fff;
    font-size: 14px;
    padding-left:5px;
    line-height:20px;
    background: #3983B0;
    cursor:pointer;
}
.miniwebphone {
    height:20px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

/*
 * === VARIABLES ===
 */
:root {
  --brand-color: #0081e0;
  --accent-color: #454d5d;
  --text-color: #464a4f;  
  --white-color: #ffffff;
  --red-color: #ff1903;
  
  --font-size-05: 12px;
  --font-size-1: 13px;
  --font-size-2: 15px;
  --font-size-3: 17px;
  --font-size-4: 19px;
  
  --spacing-05: 0.5rem;
  --spacing-1: 1rem;
  --spacing-2: 1.5rem;
  --spacing-3: 2rem;
  
  --zIndex-1: 100;
  --zIndex-2: 200;
  --zIndex-3: 300;
  --zIndex-4: 400;
  --zIndex-5: 500;
}

/*
 * === UTILITIES ===
 */
.u-hidden {
  display: none !important;
}

/*
 * === LAYOUT ===
 */
body {
  font-family: 'Gotham Rounded Book', Arial, sans-serif;
  font-size: var(--font-size-2);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a svg {
  pointer-events: none;
}

input {
  background-color: transparent;
}

button {
  font-family: inherit;
}

button svg {
  pointer-events: none;
}

.control {
  display: block;
  position: relative;
  cursor: pointer;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 3px;
}

.control input:checked ~ .control__indicator {
  background: var(--brand-color);
}

.control__indicator:after {
  content: '';
  position: absolute;
  opacity: 0;
}

.control input:checked ~ .control__indicator:after {
  opacity: 1;
}

.control--checkbox {
  height: 20px;
  width: 20px;
}

.control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: scale(0) rotate(45deg);
  transform-origin: center;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.25, 1);
}

.control--checkbox input:checked ~ .control__indicator:after {
  transform: scale(1) rotate(45deg);
}

/*
 * === BUTTON ===
 */
.btn {
  font-size: var(--font-size-2);
  padding: 10px 16px;
  margin: 5px;
  line-height: 10px;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  color: #464a4f;
  background-color: var(--white-color);
  border: 1px solid #bdc3c7;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.btn:active,
.btn:focus,
.btn:hover {
  outline: 0;
  text-decoration: none;
}

.btn:not(.btn--disabled):hover {
  background-color: #f9f9f9;
}

.btn:not(.btn--disabled):focus {
  border-color: #96a0a6;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.btn__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.btn--disabled {
  box-shadow: none;
  opacity: .5;
}

.btn-plain {
  background: 0 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.btn-plain:focus {
  outline: 0;
}

.btn-plain svg {
  vertical-align: middle;
}

/*
 * === FORM ===
 */

/*
 * === MENU ===
 */
.menu-wrapper {
  position: relative;
  display: inline-flex;
}

.menu-wrapper .menu {
  position: absolute;
  top: 40px;
  right: 0;
  padding: 10px 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10px);
  transform-origin: 100% 0;
  transition:
    transform 0.2s cubic-bezier(0.1, 0.82, 0.25, 1),
    opacity 0.2s cubic-bezier(0.1, 0.82, 0.25, 1);
  z-index: var(--zIndex-5);
}

.menu-wrapper .menu--left {
  left: 0;
  right: initial;
}

.menu-wrapper .menu.is-visible {
  pointer-events: auto;
  opacity: 1;
  transform: none;
}

.menu-wrapper .menu--select {
  top: initial;
  width: 100%;
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.menu-wrapper .menu.is-bottom-aligned {
  top: initial;
  bottom: 40px;
}

.menu-wrapper .menu > li {
  position: relative;
  display: flex;
  align-items: center;
}

.menu-wrapper .menu-option {
  display: block;
  width: 100%;
  height: 30px;
  color: var(--text-color);
  background: transparent;
  border: 0;
  overflow-x: hidden;
  padding: 5px 40px 5px 15px;
  position: relative;
  font-size: 15px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.menu-wrapper .menu-option:hover,
.menu-wrapper .menu-option:focus {
  background: #f9f9f9;
  outline: 0;
}

.menu-wrapper .menu-option svg {
  vertical-align: middle;
}

.menu-wrapper .menu.menu--select .menu-option {
  padding-left: 30px;
}

.menu-wrapper .menu.menu--select .menu-option--selected:before {
  border-bottom: 2px solid #666;
  border-right: 2px solid #666;
  bottom: 0;
  content: "";
  height: 12px;
  left: 14px;
  margin: auto;
  position: absolute;
  top: -2px;
  transform: rotate(45deg);
  width: 6px;
}

/*
 * === TABLE ===
 */
.table-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 0;
  user-select: none;
}

.table-list__header {
  position: relative;
  display: -webkit-flex;
  flex: 0 0 31px;
  justify-content: space-between;
  flex-flow: row nowrap;
  height: 41px;
  line-height: 40px;
  background: var(--white-color);
  border-bottom: 1px solid #eaeaea;
  z-index: 1;
}

.table-list__header-item {
  display: flex;
  align-items: center;
  font-size: var(--font-size-1);
  color: #767676;
}

.table-list-icon {
  display: flex;
  align-items: center;
  flex: 0;
  flex-basis: 50px;
  justify-content: center;
  min-width: 50px;
  text-align: center;
  width: 50px;
  position: relative;
}

.table-list-name {
  flex: 1 1 70%;
  display: flex;
  margin-right: 10px;
  min-width: 150px;
}

.table-list-country {
  flex: 0 0 10%;
  min-width: 60px;
}

.table-list-email {
  flex: 1 1 27%;
  min-width: 120px;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-list-status {
  flex: 0 0 15%;
  min-width: 180px;
}

.table-list-agent {
  flex: 0 0 15%;
  min-width: 180px;
}

.table-list-actions {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  opacity: 0;
}

.table-list__item:hover .table-list-actions {
  min-width: auto;
  background: #f2f9ff;
  opacity: 1;
  transition: opacity .25s;
}

.table-list-actions > .btn {
  display: block;
  background-color: transparent !important;
}

.table-list-actions > .btn:first-child {
  margin-left: 0;
}

.table-list__item:hover .table-list-actions::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  bottom: 0;
  width: 15px;
  background: linear-gradient(to right,rgba(232,243,250,0) 0,rgba(232,243,250,1) 100%);
}

.table-list__item {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: var(--font-size-2);
  line-height: 50px;
  margin-top: -1px;
  color: #494949;
  background: var(--white-color);
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}

.table-list__item--selected,
.table-list__item:hover {
  background: #f2f9ff;
}

.table-list__item::before {
  content: "";
  background: var(--brand-color);
  bottom: -1px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 2px;
  transform: translateX(-2px);
  transition: transform 0.2s ease;
}

.table-list__item--selected::before {
  transform: translateX(0);
}

.table-list__item-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
}

.table-list-context-menu {
  padding: 0 7px;
}

/*
 * === SIDEBAR ===
 */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  padding: 1.3rem 0;
  transform: translateX(0px);
  background: var(--accent-color);
  box-sizing: border-box;
  z-index: var(--zIndex-4);
}

.sidebar--animated {
  transition: transform 0.2s cubic-bezier(0.1, 0.82, 0.25, 1);
}

.sidebar[aria-hidden="true"] {
  transform: translateX(-70px);
}

.sidebar[aria-hidden="false"] {
  box-shadow: 3px 0 0 0 rgba(0, 0, 0, 0.15);
}

.sidebar__brand {
  display: block;
}

.sidebar__brand > h1 {
  display: block;
  width: 100%;
  height: 45px;
  margin: 0;
  color: transparent;
  text-indent: -1000px;
  background-image: url("/images/logo-icon.svg");
  background-repeat: no-repeat;
  background-size: 42px;
  background-position: center;
}

/**
 * Preload full logo
 * to avoid blinking effect.
 */
.sidebar__brand > h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  background-image: url("/images/logo.svg");
  background-repeat: no-repeat;
  background-size: 226px;
  visibility: hidden;
}

.sidebar__nav {
  flex: 1 1 0;
  height: 100%;
  margin-top: 1.3rem;
}

.sidebar__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 10px;
  padding: 7px 0;
  opacity: 0.8;
  transition:
    opacity 0.3s cubic-bezier(0.1, 0.82, 0.25, 1),
    background 0.3s cubic-bezier(0.1, 0.82, 0.25, 1);
}

.sidebar__nav-item > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__nav-item .feather {
  width: 32px;
  height: 32px;
  stroke-width: 1;
}

.sidebar__nav-item:hover,
.sidebar__nav-item--active {
  opacity: 1;
  background: var(--brand-color);
}

.sidebar__nav--rounded .sidebar__nav-item {
  width: 46px;
  height: 46px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  box-sizing: border-box;
}

.sidebar__nav-item:last-child {
  margin-bottom: 0;
}

.sidebar__nav-item--avatar {
  background: transparent !important;
  opacity: 1;
}

.sidebar__nav-item--avatar figure {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #dfe5e7;
  background-size: cover;
}

.sidebar__nav-item--avatar figure > svg {
  width: 100%;
  height: 100%;
}

.sidebar__nav--bottom {
  flex: 0 0 0;
  margin: 1rem 0 0;
}

.sidebar__nav ul li:first-of-type span{
    background-image: url("");
}

.sidebar__expand {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  top: 50%;
  bottom: auto;
  left: 0;
  padding-left: 5px;
  transform: translateX(60px);
  height: 50px;
  color: var(--accent-color);
  cursor: pointer;
  opacity: 0;
  transition:
    opacity .2s ease,
    transform .2s ease;
}

.sidebar[aria-hidden="false"] .sidebar__expand {
  display: flex;
}

.sidebar__expand > .feather {
  transition: transform .3s ease;
}

.sidebar:hover > .sidebar__expand {
  opacity: 0.5;
  transform: translateX(70px);
}

.sidebar:hover > .sidebar__expand:hover {
  opacity: 1;
}

/*
 * === MODULE ===
 */
.module {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-left: 70px;
  background: #f4f8f9;
  overflow-y: auto;
  box-sizing: border-box;
}

/* - MODULE HEADER - */
.module__header {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--spacing-3);
  padding-bottom: 1rem;
  color: var(--white-color);
  background: var(--brand-color);
  z-index: var(--zIndex-2);
}

.module__clock{
  position: relative;
  display: inline-flex;
  flex: 7;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Gotham Rounded Light';
  font-size: var(--font-size-2);
  line-height: 1.2;
  padding: 15px 10px;
  min-width: 70px;
  text-transform: uppercase;
  opacity: 0.7;
  transition: all .2s ease;
  cursor: pointer;
    
}

.module__clock:hover{
    opacity:1;
}

.module__header-title {
  font-size: 2.3rem;
  text-transform: uppercase;
}

.module__header-right {
  margin-left: auto;
}

/* - MODULE NAV - */
.module__nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 var(--spacing-3);
  color: var(--white-color);
  background: var(--brand-color);
  overflow-x: auto;
  box-shadow:
    0 2px 2px 0 rgba(0,0,0,0.1),
    0 1px 5px 0 rgba(0,0,0,0.05),
    0 3px 1px -2px rgba(0,0,0,0.1);
  z-index: var(--zIndex-1);
}

.module__nav-item {
  position: relative;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  font-family: 'Gotham Rounded Light';
  font-size: var(--font-size-2);
  line-height: 1.2;
  padding: 15px 10px;
  min-width: 70px;
  text-transform: uppercase;
  opacity: 0.7;
  cursor: pointer;
}

.module__nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: var(--white-color);
  transition: height 0.2s cubic-bezier(0.1, 0.82, 0.25, 1);
}

.module__nav-item:hover,
.module__nav-item--active {
  opacity: 1;
}

.module__nav-item--active {
  font-weight: 600;
}

.module__nav-item:hover::after,
.module__nav-item--active::after {
  height: 3px;
}

.module__nav-item > .feather {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.module__nav-item--right {
  margin-left: auto;
}

.module__nav--slide-down {
  animation: module-nav--slide-down .2s cubic-bezier(0.1, 0.82, 0.25, 1) forwards;
}

@keyframes module-nav--slide-down {
  0% {
    transform: translateY(-15px);
  }
  
  100% {
    transform: translateY(0px);
  }
}

/* - MODULE STATE - */
.module-state {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.module-state__title {
  font-size: 130pt;
  opacity: 0.4;
  transform: rotate(90deg);
}

.module-state__description {
  font-size: 13pt;
  opacity: 0.4;
}

.module-spinner {
  user-select: none;
}

.module-state > .module-spinner {
  /**
   * Move the spinner left
   * the width of the sidebar.
   */
  transform: translatex(-40px);
}

.module-spinner > div {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 3rem 0.2rem;
  background: var(--brand-color);
  border-radius: 50%;
  animation: module-spinner 0.6s ease infinite alternate;
}

.module-spinner > div:nth-child(2) {
  animation-delay: 0.2s;
}

.module-spinner > div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes module-spinner {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0.1;
    transform: translateY(-1rem);
  }
}

/* - MODULE CONTENT - */
.module__content {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.module__content--full-height {
  height: calc(100% - 134px);
}

.module__content--padded {
  padding: var(--spacing-3);
}

/* - MODULE NOTIFICATIONS - */
.module__notifications {
  padding: 0 var(--spacing-1);
}

.module__notifications-button {
  position: relative;
  color: var(--white-color);
}

.module__notifications-count {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-05);
  background: var(--red-color);
  border: 2px solid var(--brand-color);
  border-radius: 50%;
}

/* - MODULE ACTIONBAR - */
.actionbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: var(--spacing-1);
}

.actionbar--footer {
  margin-top: var(--spacing-1);
  margin-bottom: 0;
}

.actionbar .btn {
  height: 35px;
  line-height: 15px;
  margin: 0 0 0 10px;
}

.actionbar > .btn:first-child {
  margin-left: 0;
}

.actionbar__left {
  position: relative;
  flex: 2 1 auto;
}

.actionbar__search {
  position: relative;
  max-width: 520px;
  min-width: 0;
}

.actionbar__search-buttons {
  position: relative;
  top: -1px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.actionbar__search-filter-btn {
  height: 100%;
  padding-left: 3px;
  padding-right: 5px;
  opacity: 0.5;
  color: var(--text-color);
}

.actionbar__search-filter-btn:hover {
  opacity: 0.9;
}

.actionbar__search-search-btn {
  height: 100%;
  padding-left: 3px;
  padding-right: 8px;
  color: var(--text-color);
}

.actionbar__search-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 35px;
  line-height: 35px;
  background: var(--white-color);
  border: 1px solid #b4b8bc;
  border-radius: 3px;
}

.actionbar__search-wrapper input {
  font-family: 'Gotham Rounded Book', sans-serif;
  font-size: var(--font-size-2);
  border: none;
  padding: 8px;
  flex: 1;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
}

.actionbar__search-wrapper input[type=search]::-webkit-search-cancel-button {
  display: none;
}

.actionbar__search-wrapper input:focus {
  outline: 0;
}

.actionbar__search .filter-wrapper {
  position: absolute;
  width: 100%;
  background-color: #FFF;
  border: 1px solid #CBCBCB;
  border-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.1);
  display: none;
  line-height: 20px;
  margin-top: 5px;
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-3);
  z-index: var(--zIndex-4);
}

.actionbar__search .filter-wrapper.is-visible {
  display: block;
}

.actionbar__search .filter__label {
  display: block;
  font-size: var(--font-size-1);
  margin-bottom: var(--spacing-05);
}

.actionbar__search .filter__section {
  display: block;
  margin-bottom: 20px;
}

.actionbar__search .filter__section:last-child {
  margin-bottom: 0;
}

.actionbar__search .filter-wrapper .menu-wrapper > button {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  line-height: 32px;
  padding-left: 10px;
  text-align: left;
  transition: border-color .1s;
  width: 100%;
}

.actionbar__search .filter-wrapper .menu-wrapper svg {
  float: right;
  margin: 10px;
}

.actionbar__search .filter-wrapper .menu-option {
  font-size: var(--font-size-1);
}

.actionbar__buttons {
  display: inline-flex;
}

.actionbar__buttons--hidden {
  opacity: 0.5;
  pointer-events: none;
}

.actionbar__buttons > .menu-wrapper .menu svg {
  margin-right: 5px;
  margin-top: -3px;
  width: 18px;
  height: 18px;
  color: var(--text-color);
}

.actionbar__pagination {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}

.actionbar__pagination > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin: 0;
  margin-right: -1px;
  padding: 0;
}
.actionbar__pagination > .btn--disabled {
  pointer-events: none;
}

.actionbar__pagination .feather {
  width: 16px;
  height: 16px;
}

.actionbar__pagination-back {
  border-radius: 3px 0 0 3px;
  border-width: 1px;
}

.actionbar__pagination-forward {
  border-radius: 0 3px 3px 0;
  border-width: 1px;
}

.actionbar__pagination-number {
  padding: 0 20px;
}

/*
 * === WEBPHONE ===
 */
.phone {
  position: fixed;
  bottom: 0;
  right: var(--spacing-3);
  width: 220px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transform: translateY(380px);
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.25, 1);
  z-index: var(--zIndex-4);
}

.phone--opened {
  transform: translateY(0);
}

.phone__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-05) 13px;
  font-size: var(--font-size-1);
  color: var(--white-color);
  background: var(--accent-color);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  cursor: pointer;
}

.phone__header svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  color: var(--white-color);
}

.phone--opened .phone__header svg {
  transform: rotate(180deg);
}

.phone__body {
  position: relative;
  height: 380px;
}

/*
 * === TOOLTIP ===
 */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  line-height: 1.4;
  opacity: 1;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.tooltip.is-top-aligned:after,
.tooltip.is-top-aligned:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.tooltip.is-top-aligned:before {
  border-top-color: var(--accent-color);
  border-width: 6px;
  margin-left: -6px;
}

.tooltip.is-top-aligned:after {
  border-top-color: #444;
  border-width: 5px;
  margin-left: -5px;
}

.tooltip__inner {
  font-size: var(--font-size-2);
  max-width: 200px;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
 
/* TOP OF PAGE NAVIGATION STYLE
-------------------------------- */ 
.pageNav{
    display:flex;
    flex-direction:row;
    flex-basis:97%;
    margin:.96%;
        text-transform:uppercase;
    font-weight: bold;
        font-size:10px;

}

.pageNav a{
    
    text-decoration:underline;
    color: #454d5d;

}

.pageNav a:not(:first-of-type){
        line-height:3.8em;
        text-decoration:none;
}

.pageNav a span:first-of-type{
    font-size:2em;
    padding-left:2em;
    max-width:200px;
}

.pageNav a span:not(:first-of-type){

    max-width:130px;
    
            text-decoration:none;

}



/*TODO REVIEW THIS, MIGHT BE THE MOBILE VERSION NOT DESKTOP*/
ul.tabs{
    position:relative;
    display:flex;
    flex-direction:row;
    margin:1%;
    height:1.8em;
    text-transform:uppercase;
    font-weight: bold;
    font-size:1em;
}
.tabs li {
    text-decoration:none;
    display:flex;
    justify-content:center;
    flex-basis:8%;
    border-bottom: solid transparent .1em;
    transition: all .1s ease-in-out;
    margin-left:2px;
    margin-right:2px;
    text-align:center;
    display:block;
    width:100%;
    text-align:center;
    padding:.3em .5em;
    

}

.tabs li.active {
    color:#0071BC;
    border-bottom: solid #0071BC .1em;
}
.tabs li:hover {
    border-bottom: solid #0071BC .1em;
}
.tabs a{

    text-decoration:none;
}
