html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    position:relative;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.super-login {
    height: 100vh;
    display: block;
    margin: auto;
}

.super-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 200px;
    color:#454d5d;
    height:100%;
    width:100%;
}

.super {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 70px;
    color:#454d5d;
    height:100%;
    width:100%;
}

.super .flex-commission{
  flex-basis:98%;
  background: linear-gradient(#28587A, #28587A, #28587A, #3A7FAD);

  margin:.96%;
  height:120px;
}

/* NAVBAR STYLE
---------------------------------------- */

.navbar {
    width: 70px;
    top:0;
    bottom:0;
    position:fixed;
    background: linear-gradient(#28587A, #4597d3, #4597d3, #4597d3, #f4f3f2);
}

.navbar ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar ul li:nth-of-type(2) img{
    border-radius:50px;
    width: 40px;
}

.navbar ul li {
    flex: .12;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar ul li img:not(:nth-of-type(2)) {
    width:35px;
    height:auto;
    display:block;
    margin:auto;
}

.navbar ul li:last-of-type{
    display:flex;
    flex:.25;
    flex-direction:column;
    justify-content:flex-end;
}

/*TODO REVIEW THIS, MIGHT BE THE MOBILE VERSION NOT DESKTOP*/
.controlnav {
    position:relative;
    display:block;
    width:79%;
    margin:1%;
}
.controlnav span {
    display: none;
}

.controlnav ul li{
    flex-basis:10%;
    border:solid white 2px;
    background-color:#f4f3f2;
    padding:15px;
    text-align:left;
}


/* ALL MEDIA / DEVICE QUERIES
----------------------------------------*/
@media screen and (max-width:529px) and (orientation: portrait){
    /* Smartphones, portrait iPhone, portrait Android */
/*
LOGIN ADJUSTMENT */
  .super-login {
      font-size: 18px;
  }

  .super-login .content {
      display: flex;
      width: 90%;
      height: 100%;
      min-width: auto;
      max-width: none;
  }

  .super-login .content .header {
      flex-basis: 10%;
      height: 70px;
      margin-top: 40%;
      max-height: none;
  }

  .super-login .content .sub-header {
      flex: .1;
      padding-top: 5%;
      padding-bottom: 5%;
  }

  .super-login .content .formgroup {
      flex: 1;
      justify-content: flex-start;
      padding-top: 5%;

  }

  .super-login .content .formgroup input {
      font-size: 20px;
  }

  .super-login .content .post {
      padding-top: 10%;
      flex: .2;
  }

  .super-login .content .post button {
      height: 100%;
      width: 100%;
      font-size: 20px;
  }



    /*CONTROL ADJUSTMENT */
    .super-control{
        padding-left:70px;
    }
    .super-control div:first-of-type{
        flex-basis:97%;
        height:300px;
        /* flexbox margins not registering in mozilla firefox, needs adjustment */
    }

    .super-control div:not(:first-of-type){
        flex-basis:97%;
        /* flexbox margins not registering in mozilla firefox, needs adjustment */
    }

    /* REST OF THE APP ADJUSTMENT */
    .super div:not(:first-of-type){
        flex-basis:98%;
        /* flexbox margins not registering in mozilla firefox, needs adjustment */
    }

}
