.global-login {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: #f4f8f9;
  background-image: url('/images/login-bg.svg');
  background-size: cover;
  background-position: center;
  z-index: var(--zIndex-5);
}

.global-login[aria-hidden="false"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.global-login__inner {
  position: relative;
  box-shadow: 0px 25px 25px -15px rgba(0, 0, 0, .1);
}

.global-login__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 1.25rem;
  padding-top: 4rem;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 5%);
  background: var(--white-color);
}

.global-login__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: var(--spacing-2);
}

.global-login__brand-link {
  position: relative;
  width: 340px;
  height: 75px;
}

.global-login__brand-image > img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.global-login__brand-badge {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  color: var(--white-color);
  background: var(--accent-color);
  padding: 0 3px;
  border-radius: 3px;
}

.global-login__description {
  display: block;
  margin-top: var(--spacing-1);
  font-size: var(--font-size-3);
  line-height: 20px;
  text-align: center;
}

.global-login__layer {
  position: absolute;
  top: 1rem;
  left: -0.8rem;
  width: calc(100% - 1rem);
  height: calc(100% - 3rem);
  background: var(--brand-color);
  transform: rotate(-8deg);
  animation: login-layer 1s cubic-bezier(0.1, 0.82, 0.25, 1);
  z-index: -1;
}

@keyframes login-layer {
  0% {
    transform: scale(0.9) rotate(-5deg);
  }
  
  100% {
    transform: scale(1) rotate(-8deg);
  }
}

.global-login__secondaryLayer {
  position: absolute;
  top: 4rem;
  right: -0.3rem;
  width: 2rem;
  height: calc(100% - 6rem);
  background: var(--accent-color);
  transform: rotate(8deg);
  animation: login-secondaryLayer 1s cubic-bezier(0.1, 0.82, 0.25, 1);
  z-index: -1;
}

@keyframes login-secondaryLayer {
  0% {
    transform: scale(0.9) rotate(8deg);
  }
  
  100% {
    transform: scale(1) rotate(8deg);
  }
}

.global-login__form {
  display: flex;
  flex-direction: column;
}

.global-login__form-control {
  display: block;
  margin-bottom: var(--spacing-1);
}

.global-login__form-control label {
  text-transform: uppercase;
  color: #7f858d;
  font-family: 'Gotham Rounded Book';
  font-size: var(--font-size-05);
  font-weight: 500;
  display: block;
  letter-spacing: 0.03rem;
  margin-bottom: 8px;
}

.global-login__form-control input {
  font-family: 'Gotham Rounded Book', sans-serif;
  font-size: 1rem;
  border: 1px solid #b4b8bc;
  border-radius: 2px;
  padding: 12px 10px;
  width: 100%;
}

.global-login__form-control input:focus {
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 0 1px var(--brand-color);
  outline: none;
}

.global-login__form-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: var(--spacing-05) 0;
}

.global-login__form-actions .btn {
  font-size: var(--font-size-2);
  height: 100%;
  margin: 0;
  line-height: 20px;
  color: var(--brand-color);
  background: var(--white-color);
  border-color: var(--brand-color);
}

.global-login__form-actions .btn:hover,
.global-login__form-actions .btn:focus {
  color: var(--white-color);
  background: var(--brand-color);
  border-color: var(--brand-color);
}

.global-login .btn--login > .btn__icon {
  transform: translateX(0px);
  transition: transform 0.2s cubic-bezier(0.1, 0.82, 0.25, 1);
}

.global-login .btn--login:hover > .btn__icon {
  transform: translateX(4px);
}

.global-login__footer {
  position: absolute;
  left: 0;
  width: 100%;
  font-size: var(--font-size-1);
  padding: var(--spacing-2);
  text-align: center;
}

.global-login__footer-link {
  color: var(--brand-color);
}

.global-login__footer-link:hover {
  text-decoration: underline;
}

.global-login__footer-link:not(:first-child)::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 2px;
  height: 2px;
  line-height: 10px;
  margin: 0 var(--spacing-05);
  background: var(--accent-color);
  border-radius: 50%;
  vertical-align: middle;
}
